#MP
{
    text-align: center;
    background-color: blue;
    background: url("https://i.postimg.cc/KzWwHPcq/racing.gif");
    background-size: cover;
    background-position: center;
}

#myCanvas
{
    background-color: cyan;
    border: ridge;
}

#title
{
    color: darkblue;
}

#gamestat
{
    color: darkred;
    font-weight: bolder;
}

span
{
    font-weight: bolder;
}
